footer{
  background: url(../assets/img/Background_Contacts.png) no-repeat top center/cover;
  text-align: center;

  
  h1{
    font: var(--title-md);
    color: var(--gray600);
  }
p{
  font: var(--text-md);
  color: var(--gray500);
}
}
#contatos{
  padding-block: 8rem .5rem;
  display: inline-block;
  font: var(--subtitle);
  color: var(--purple);
}
#sub {

  padding-block: .5rem 3rem;
}

#f-body{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 12.5rem;
  gap: .75rem;
}

.contacts{
  display: flex;
  width: 25rem;
  height: 4.25rem;
  line-height: 0;
  background-color: var(--gray300);
  border-radius: .5rem;
  justify-content: space-between;
  padding: 1.25rem;
  span{
    display: flex;
    align-items: center;
    gap: .75rem;
  }
}

