*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-asap: "Asap", serif;
  --font-inconsolata: "Inconsolata", serif;
  --font-maven: "Maven Pro", serif;
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray100: #0D0E11;
  --gray200: #17181c;
  --gray300: #292c34;
  --gray400: #878EA1;
  --gray500: #C0C4CE;
  --gray600: #E2E4E9;

  --title-lg: bold 56px/120% var(--font-asap) ;
  --title-md: bold 24px/120%  var(--font-asap);
  --title-sm: bold 16px/120%  var(--font-asap);

  --subtitle: 20px/120% var(--font-inconsolata);

  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);
}

