header{
  background: url(../assets/img/Background_Intro.png) no-repeat top center/cover;
 height: 900px;
}
#principal{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
 
  div>span{
    color: var(--red);
  }
  
  h1{
    font: var(--title-lg);
    color: var(--gray600); 
    padding-top: 8px;
  }
  p{
    font: var(--text-sm);
    color: var(--gray400);
    padding-block: 20px 80px;
    width: 680px;
  }

  #profile>img{
    object-fit: cover;
    width: 112px;
    height: 112px;
    margin-top: 120px;
  }
  
  #hello-w{
    padding-top: 56px;
  }
}
#logo-pin{
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  align-items: center;
}

.card{
  display: flex;
  background-color: var(--gray300);
  color: var(--gray500);
  font: var(--text-md);
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 40px;
  margin-inline: 16px;
  align-items: center;
  img{
    padding-right: 8px;
  }
}








  
