header{
  background: url(../assets/img/Background_Intro.png) no-repeat top center/cover;
 height: 56.25rem;
}
#principal{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
   
  div>span{
    color: var(--red);
    font: var(--subtitle);
  }

  h1{
    font: var(--title-lg);
    color: var(--gray600); 
    padding-top: .5rem;
  }

  p{
    font: var(--text-sm);
    color: var(--gray400);
    padding-block: 1.25rem 5rem;
    width: 42.5rem;
  }

  #profile>img{
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    margin-top: 7.5rem;
  }
  
  #hello-w{
    padding-top: 3.5rem;
  }
}



#logo-pin{
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  align-items: center;
}

.card{
  display: flex;
  background-color: var(--gray300);
  color: var(--gray500);
  font: var(--text-md);
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 40px;
  margin-inline: 16px;
  align-items: center;
  img{
    padding-right: 8px;
  }
}

#seta{
  display: flex;
  justify-content: center;
  img {
    height: 32px;
    width: 32px;
  }
  margin-top: 200px;
}






  
