main{
  background-color:var(--gray200);
  height: 57.3rem;
}

main>div{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4.5rem;
  margin-inline: 10.2rem;

  span{
    color: var(--red);
    font: var(--subtitle);
  }

  h1{
    padding-block: .5rem 3.5rem;
    font: var(--title-md);
    color: var(--gray600);
  }
}

#main-project{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:24px
}

.project{
  background-color: var(--gray300);
  border-radius: .75rem;
  width: 20rem;
  height: 17.5rem;
  text-align: left;
  padding: .75rem;

  img{
    border-radius: .5rem;
    max-height: 100%;
    max-width: 100%;
  }
  
  h2{
    font: var(--title-sm);
    color: var(--gray600);
    padding-top: 1.25rem;
  }

  p{
    font: var(--text-sm);
    color: var(--gray500);
    padding-block: .5rem 1rem;
  }
}